* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

header {
    background-image: url(see.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 8%;
    background: #0a5d63;
    height: 75px;
}

.logo h2{
    font-size: 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li{
    font-size: 1.2rem;
}

nav ul li a{
    color: aliceblue;
}

.menu-icons{
    display: none;
}

.menu-icons i
{
    font-size: 1.5rem;
}

.hero-section{
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.hero-section h1{
    font-size: 3rem;
}

@media (max-width:768px) {
    nav ul{
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        background: #000;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.4s;
    }

    nav ul li:first-child{
        padding-top: 20px;
    }

    nav ul li:last-child{
        padding-bottom: 20px;
    }

    .menu-icons{
        display: block;
        cursor: pointer;
    }
}
